@using Exam_Objective.Models
@using System.Collections.Generic

@{
    ViewBag.Title = "CreateTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/smalot-datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<div class="paddind-lr-30">
    @{var SubjectsEntity = (List<SubjectsModel>)ViewBag.Subject;

        <h3><span>จัดการแบบทดสอบ / วิชา</span><span id="asubject" data-asubj="@SubjectsEntity[0].SubjectID"></span>@SubjectsEntity[0].SubjectName</h3>

    }
    <hr />
    <p class="text-left">
        <button type="button" class="btn btn-default" onclick="window.history.back()"><span class="fa fa-reply"></span> ย้อนกลับ</button>
        <button id="btnCrtTest" name="btnCrtTest" class="btn btn-primary" data-toggle="modal" data-target="#TestModal"><span class="fa fa-plus"></span> เพิ่มแบบทดสอบ</button>
    </p><hr style="margin:2px;" />
    <div class="modal fade" id="TestModal" tabindex="-1" role="dialog" aria-labelledby="User" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title"><label id="title" name="title"></label><label><span>วิชา</span>@SubjectsEntity[0].SubjectName</label></h5>
                </div>
                <div class="modal-body">
                    <form id="TForm0" method="post" class="form-horizontal">
                        <p class="show-chevron-rightdown text-left collapsed menu-slidet" data-toggle="collapse" data-target="#demo0"> ทั่วไป</p>
                        <div id="demo0" class="collapse">
                            <br />
                            <script src="~/Scripts/ckeditor/ckeditor.js"></script>
                            <div class="form-group">
                                <label class="col-md-3 control-label">ชื่อ<span style="color:red"> *</span></label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" name="TestName" id="TestName" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">คำอธิบาย</label>
                                <div style="min-width:200px;" class="col-md-7">
                                    <textarea type="text" id="Explantion" name="Explantion" class="form-control Explantion"></textarea>
                                </div>
                            </div>
                        </div>
                        <hr style="margin:0px;" />
                        <p class="show-chevron-rightdown text-left collapsed menu-slidet" data-toggle="collapse" data-target="#demo1"> กำหนดเวลา</p>
                        <div id="demo1" class="collapse">
                            <br />
                            <fieldset>
                                <div class="form-group">
                                    <label for="dtp_input2" class="col-md-3 control-label">วัน/เดือน/ปี สอบ</label>
                                    <div style="max-width:230px;min-width:229px;margin-left:15px;" class="input-group col-md-5">
                                        <input class="form-control" size="16" type="text" value="" readonly id="DatetoBegin" name="DatetoBegin">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="dtp_input3" class="col-md-3 control-label">เวลาเริ่มการสอบ</label>
                                    <div style="max-width:150px;margin-left:15px;" class="input-group date form_timeBegin col-md-5" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
                                        <input class="form-control" size="16" type="text" value="" readonly id="TimetoBegin" name="TimetoBegin">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                    </div>
                                    <input type="hidden" id="dtp_input3" value="" />
                                </div>

                                <div class="form-group">
                                    <label for="dtp_input4" class="col-md-3 control-label">เวลาสิ้นสุดการสอบ</label>
                                    <div style="max-width:150px;margin-left:15px;" class="input-group date form_timeEnd col-md-5" data-date="" data-date-format="hh:ii" data-link-field="dtp_input4" data-link-format="hh:ii">
                                        <input class="form-control" size="16" type="text" value="" readonly id="TimetoEnd" name="TimetoEnd">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                    </div>
                                    <input type="hidden" id="dtp_input4" value="" />
                                </div>
                            </fieldset>
                        </div>
                        <hr style="margin:0px;" />
                        <p class="show-chevron-rightdown text-left collapsed menu-slidet" data-toggle="collapse" data-target="#demo3"> รูปแบบ</p>
                        <div id="demo3" class="collapse">
                            <br />
                            <div class="form-group">
                                <label class="col-md-3 control-label">การสลับโจทย์และคำถาม</label>
                                <div class="col-md-5">
                                    <select style="max-width:150px;" class="form-control" id="Sequences" name="Sequences">
                                        <option value="0">ค่าเริ่มต้น</option>
                                        <option value="1">สลับโจทย์</option>
                                        <option value="2">สลับคำตอบ</option>
                                        <option value="3">สลับโจทย์และคำตอบ</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr style="margin:0px;" />
                        <p class="show-chevron-rightdown text-left collapsed menu-slidet" data-toggle="collapse" data-target="#demo4"> จำกัดการเข้าถึง</p>
                        <div id="demo4" class="collapse">
                            <br />
                            <div class="form-group">
                                <label class="col-md-3 control-label">รหัสผ่าน</label>
                                <div class="col-md-5">
                                    <input type="password" class="form-control" name="PwTest" id="PwTest" />
                                    <sapn title="randompassword" style="margin:12px" class="fa fa-random link-action" onclick="RandomPass(4,'#PwTest')"></sapn>
                                    <input type="checkbox" onclick=" CheckBlockPW('PwTest')"> ไม่ปกปิด
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">กลุ่มเรียน</label>
                                <div class="col-md-5">
                                    <select style="max-width:150px;" class="form-control" id="Groupstudy" name="Groupstudy">
                                        <option value="0">--เลือกกลุ่มเรียน--</option>
                                        @{var GroupEntity = (List<TestGroupModel>)ViewBag.testGroup;

                    foreach (var rows in GroupEntity)
                    {
                        <option value="@rows.GroupID">@rows.StudyGroup</option>

}
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">จำนวนครั้งที่ให้ทำ</label>
                                <div class="col-md-5">
                                    <select style="max-width:150px;" class="form-control" id="NumberOfTimes" name="NumberOfTimes">
                                        <option value="0">ไม่จำกัด</option>
                                        <option value="1">1 ครั้ง</option>
                                        <option value="2">2 ครั้ง</option>
                                        <option value="3">3 ครั้ง</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">ต้องใช้เครื่องในเครือข่าย</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" name="IPsubnet" id="IPsubnet" />
                                    @* <input type="checkbox" onclick=""> เปิดใช้งาน*@
                                </div>

                            </div>
                        </div>
                        <hr style="margin:0px;" />
                        <br />
                        <div class="form-group">
                            <div class="col-xs-10 col-xs-offset-3">
                                <button type="button" id="btnSave" class="btn btn-primary btnSave">บันทึก</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
                            </div>
                        </div><br />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>แบบทดสอบวิชา @SubjectsEntity[0].SubjectName ที่มีกลุ่มเรียนแล้ว</th>
            </tr>
        </thead>
        <tbody>
            @{var TestEntity = (List<ExamTopicModel>)ViewBag.DataExamtest;
                if (TestEntity.Count > 0 && TestEntity != null)
                {
                    foreach (var rows in TestEntity)
                    {
                        <tr>
                            <td>
                                <span class="col-md-5">
                                    <span class="fa  fa-caret-right"> </span>
                                    <span>@rows.ExamtopicName</span>
                                    <span>กลุ่มเรียน </span>@rows.StudyGroup
                                </span>
                                <span class="col-md-7 text-right">
                                    <span> | </span>
                                    <span title="รายละเอีนด" class="fa fa-search link-action btnView" data-toggle="modal" data-target="#TestModal" data-examtopicid="@rows.ExamtopicID"> รายละเอียด </span>
                                    <span title="แก้ไข" class="fa fa-cog link-action btnEdit" data-toggle="modal" data-target="#TestModal" data-examtopicid="@rows.ExamtopicID"> แก้ไข</span>
                                    <span title="ลบ" class="fa  fa-times link-action btnDelete" data-examtopicid="@rows.ExamtopicID" data-Exname="@rows.ExamtopicName"> ลบ</span>
                                    <span> | </span>
                                    <span title="แก้ไขแบบทดสอบ" class="link-action btnEditTest" data-examtopicid="@rows.ExamtopicID" data-subid="@SubjectsEntity[0].SubjectID"> แก้ไขแบบทดสอบ</span>
                                    <span> | </span>
                                    <span title="ผลการสอบ" class="link-action btnScore" data-examtopicid="@rows.ExamtopicID" data-subid="@SubjectsEntity[0].SubjectID" data-groupid="@rows.GroupID"> ผลการสอบ</span>
                                    <span> | </span>
                                    <span title="Hardcopy" class="fa fa-file-o link-action btnhardcopy" data-examtopicid="@rows.ExamtopicID" data-subid="@SubjectsEntity[0].SubjectID" data-groupid="@rows.GroupID"> Hardcopy</span>
                                    <span> | </span>
                                </span>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr><td><span style="color:#ff0000">*ยังไม่มีแบบทดสอบในนี้</span></td></tr>}
            }
        </tbody>
    </table>
    @{ var TestEntitynill = (List<ExamTopicModel>)ViewBag.DataNullGroup;
        if (TestEntitynill.Count > 0 && TestEntitynill != null)
        {
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>แบบทดสอบวิชา @SubjectsEntity[0].SubjectName ที่ยังไม่มีกลุ่มเรียน</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rows in TestEntitynill)
                    {
                        <tr>
                            <td>
                                <span class="col-md-5">
                                    <span class="fa  fa-caret-right"> </span>
                                    <span>@rows.ExamtopicName</span>
                                    <span>กลุ่มเรียน </span>@rows.StudyGroup
                                </span>
                                <span class="col-md-7 text-right">
                                    <span> | </span>
                                    <span title="รายละเอีนด" class="fa fa-search link-action btnView" data-toggle="modal" data-target="#TestModal" data-examtopicid="@rows.ExamtopicID"> รายละเอียด </span>
                                    <span title="แก้ไข" class="fa fa-cog link-action btnEdit" data-toggle="modal" data-target="#TestModal" data-examtopicid="@rows.ExamtopicID"> แก้ไข</span>
                                    <span title="ลบ" class="fa  fa-times link-action btnDelete" data-examtopicid="@rows.ExamtopicID" data-Exname="@rows.ExamtopicName"> ลบ</span>
                                    <span> | </span>
                                    <span title="แก้ไขแบบทดสอบ" class="link-action btnEditTest" data-examtopicid="@rows.ExamtopicID" data-subid="@SubjectsEntity[0].SubjectID"> แก้ไขแบบทดสอบ</span>
                                    <span> | </span>
                                    <span title="ผลการสอบ" class="link-action btnScore" data-examtopicid="@rows.ExamtopicID" data-subid="@SubjectsEntity[0].SubjectID" data-groupid="@rows.GroupID"> ผลการสอบ</span>
                                    <span> | </span>
                                    <span title="Hardcopy" class="fa fa-file-o link-action btnhardcopy" data-examtopicid="@rows.ExamtopicID" data-subid="@SubjectsEntity[0].SubjectID" data-groupid="@rows.GroupID"> Hardcopy</span>
                                    <span> | </span>
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {


        }
    }

</div>

@section scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.inputmask.bundle.js"></script>
    <script src="~/Scripts/jquery.inputmask.bundle.min.js"></script>
    <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/smalot-datetimepicker/bootstrap-datetimepicker.js" charset="utf-8"></script>
    <script src="~/Scripts/smalot-datetimepicker/locales/bootstrap-datetimepicker.th.js" charset="utf-8"></script>

    <script type="text/javascript">

        $('#DatetoBegin').datetimepicker({
            language: 'th',
            format: 'dd-mm-yyyy',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
        $('.form_timeBegin').datetimepicker({
            language: 'th',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 0,
            minView: 0,
            maxView: 1,
            forceParse: 0
        });
        $('.form_timeEnd').datetimepicker({
            language: 'th',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 0,
            minView: 0,
            maxView: 1,
            forceParse: 0
        });
    </script>
    <script type="text/javascript">
        var DataTest = {
            ExamtopicID: 0,
            ExamtopicName: $("[name='TestName']").val(),
            Explantion: $("[name='Explantion']").val(),
            SubjectID: $('#asubject').data("asubj"),
            DatetoBegin: $("[name='DatetoBegin']").val(),
            TimetoBegin: $("[name='TimetoBegin']").val(),
            TimetoEnd: $("[name='TimetoEnd']").val(),
            Sequences: $("[name='Sequences']").val(),
            GroupID: $("[name='Groupstudy']").val(),
            ExamtopicPW: $("[name='PwTest']").val(),
            NumberOfTimes: $("[name='NumberOfTimes']").val(),
            InNetWork: $("[name='IPsubnet']").val(),
            isUpdateable: 0
        };
        $('.btnEditTest').click(function () {
            var etid = $(this).data("examtopicid");
            //alert(etid);
            window.location.href = "EditQuiz" + "?etid=" + $(this).data("examtopicid") + "&subid=" + $(this).data("subid");
        });
        $('.btnScore').click(function () {
            // alert($(this).data("examtopicid"));
            window.location.href = "ScoreStudent" + "?etid=" + $(this).data("examtopicid") + "&subid=" + $(this).data("subid") + "&g=" + $(this).data("groupid");
        });

        $('.btnhardcopy').click(function () {
            window.location.href = "HardCopys" + "?etid=" + $(this).data("examtopicid") + "&subid=" + $(this).data("subid") + "&g=" + $(this).data("groupid");
        });
    </script>
    <script src="~/Scripts/Scriptss/CreateTestJs.js"></script>
    <script src="~/Scripts/Scriptss/Text-Editor-1.js"></script>
    <script src="~/Scripts/Scriptss/ShowPW-HidePW-Js.js"></script>
}
