@using Exam_Objective.Models
@using System.Collections.Generic

@{
    ViewBag.Title = "EditQuiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="paddind-lr-30">
    @{
        var SubjectsEntity = (List<SubjectsModel>)ViewBag.Subject;
        var groupTest = (List<TestGroupModel>)ViewBag.testGroup;
        var examtoPic = (List<ExamTopicModel>)ViewBag.examtopic;
        var ShowDataQuiz = (List<ShowQuizModel>)ViewBag.ShowQuiz;
        <h4><span>แก้ไขแบบทดสอบ / วิชา</span>@SubjectsEntity[0].SubjectName <span id="subj" data-subject="@SubjectsEntity[0].SubjectID"></span></h4>
        <h4>
            @examtoPic[0].ExamtopicName<span> กลุ่มเรียน:</span>@{if (groupTest.Count > 0 && groupTest != null)
                {@groupTest[0].StudyGroup}
            else
            {<span>ยังไม่มีกลุ่มเรียน</span>}}
        </h4>
        <div id="explan" data-explantion="@examtoPic[0].Explantion"></div>
    }

    <hr />
    <form>
        <div class="form-group">
            <div class="row text-left">
                <div class="col-md-2">
                    <button type="button" class="btn btn-default" onclick='window.history.back()'><span class="fa fa-reply"></span> ย้อนกลับ</button>
                </div>
                @*<div class="col-md-3">
                        <select style="max-width:180px;" class="form-control" id="idsuite" name="idsuite">
                            <option value="0">แบบทดสอบชุดที่ 1</option>
                        </select>
                    </div>*@

            </div>
            <hr />@*<span style="font-size:18px;">แบบทดสอบชุดที่ 1  </span><span title="ลบ" class="fa  fa-times link-action btnDelete"></span>*@

        </div>
    </form>
    @*--------- Button Dialog เพิ่มข้อสอบ -------------*@
    <button id="btnAddQuiz1" class="btn btn-primary" data-toggle="modal" data-target="#EditQ1Model"><span class="fa fa-plus"></span> เพิ่มทีละข้อ</button>
    <button id="btnAddQuiz2" class="btn btn-primary" data-toggle="modal" data-target="#EditQ2Model"><span class="fa fa-plus"></span> เพิ่มจากความยากง่าย</button>
    <button id="btnAddQuiz3" class="btn btn-primary" data-toggle="modal" data-target="#EditQ3Model"><span class="fa fa-plus"></span> เพิ่มแบบสุ่ม</button>
    <button id="btnShowQuizEx" class="btn btn-default"><span class="fa fa-search"></span> ดูตัวอย่าง</button>
    <hr style="margin:2px;" />
    @*----- Dialog เพิ่มที่ละข้อ -------*@
    <div class="modal fade" id="EditQ1Model" tabindex="-1" role="dialog" aria-labelledby="User" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title"><label id="title" name="title"></label><label><span>เพิ่มข้อสอบทีละข้อ</span></label></h5>
                </div>

                <div class="modal-body">
                    <form id="createQ1Form" method="post" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-3 control-label">เลือกบทเรียน</label>
                            <div class="col-md-5">
                                <select style="max-width:250px;" class="form-control showCate" id="showCate" name="showCate" data-cate="cateid">
                                    <option value="0">--เลือกบทเรียน--</option>
                                    @{
                                        var dataLesson = (List<LessonModel>)ViewBag.Lesson;
                                        var countP = (List<LessonModel>)ViewBag.countProposi;
                                        foreach (var rows in dataLesson)
                                        {
                                            <option value="@rows.LessonID">
                                                @rows.LesName
                                                @{
                                                    foreach (var rows2 in countP)
                                                    {
                                                        if (rows.LessonID == rows2.LessonID)
                                                        {
                                                            <span>(@rows2.CountProposID)</span>
                                                        }
                                                    }
                                                }
                                            </option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group" style="padding:5px;">
                            <table id="tshowCate" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>ข้อสอบ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var dataQuiz = (List<PropositionModel>)ViewBag.QuizData;
                                        foreach (var rows in dataQuiz)
                                        {

                                            <tr class="Row" data-pid="@rows.ProposID" data-cateid="@rows.LessonID">
                                                <td>
                                                    <input type="checkbox" value="@rows.ProposID" />
                                                    @rows.ProposName
                                                    <span title="รายละเอีนด" class="fa fa-search link-action btnView" data-toggle="modal" data-target="#ShowQuizModal" data-proid="@rows.ProposID"></span>
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-10 col-xs-offset-3">
                                <button type="button" id="btnSave" class="btn btn-primary btnSave">เพิ่ม</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @*----- Dailog เพิ่มจากค่าความยากง่าย -------*@
    <div class="modal fade" id="EditQ2Model" tabindex="-1" role="dialog" aria-labelledby="User" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title"><label id="title" name="title"></label><label><span>เพิ่มข้อสอบจากค่าความยากง่าย</span></label></h5>
                </div>

                <div class="modal-body">
                    <form id="createQ2Form" method="post" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-3 control-label">เลือกบทเรียน</label>
                            <div class="col-md-5">
                                <select style="max-width:250px;" class="form-control" id="idObjective" name="idObjective">
                                    <option value="0">--เลือกบทเรียน--</option>
                                    @{

                                        foreach (var rows in dataLesson)
                                        {
                                            <option value="@rows.LessonID">
                                                @rows.LesName
                                                @{
                                                    foreach (var rows2 in countP)
                                                    {
                                                        if (rows.LessonID == rows2.LessonID)
                                                        {
                                                            <span>(@rows2.CountProposID)</span>
                                                        }
                                                    }
                                                }
                                            </option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">เลือกระดับ</label>
                            <div class="col-md-5">
                                <select style="max-width:250px;" class="form-control" id="idObjective" name="idObjective">
                                    <option value="0">ง่ายมาก</option>
                                    <option value="1">ง่าย</option>
                                    <option value="2">ปานกลาง</option>
                                    <option value="3">ยาก</option>
                                    <option value="4">ยากมาก</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-10 col-xs-offset-3">
                                <button type="button" id="btnSave" class="btn btn-primary btnSave">เพิ่ม</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @*----- Dialog เพิ่มแบบสุ่ม -------*@
    <div class="modal fade" id="EditQ3Model" tabindex="-1" role="dialog" aria-labelledby="User" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title"><label id="title" name="title"></label><label><span>เพิ่มข้อสอบแบบสุ่ม</span></label></h5>
                </div>

                <div class="modal-body">

                    <form id="createQ3Form" method="post" class="form-horizontal">

                        <div class="form-group">
                            <label class="col-md-3 control-label">เลือกบทเรียน</label>
                            <div class="col-md-5">
                                <select style="max-width:250px;" class="form-control" id="idObjective" name="idObjective">
                                    <option value="0">--เลือกบทเรียน--</option>
                                    @{
                                        foreach (var rows in dataLesson)
                                        {
                                            <option value="@rows.LessonID">
                                                @rows.LesName
                                                @{
                                                    foreach (var rows2 in countP)
                                                    {
                                                        if (rows.LessonID == rows2.LessonID)
                                                        {
                                                            <span>(@rows2.CountProposID)</span>
                                                        }
                                                    }
                                                }
                                            </option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-xs-10 col-xs-offset-3">
                                <button type="button" id="btnSave" class="btn btn-primary btnSave">เพิ่ม</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <table id="tshowCate" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ข้อสอบ</th>
            </tr>
        </thead>
        <tbody>
            @{

                foreach (var rows in ShowDataQuiz)
                {
                    <tr>
                        <td>
                            <span class="col-md-10">@rows.ProposName @rows.LesName</span>
                            <span class="col-md-2 text-right">
                                <span title="รายละเอีนด" class="fa fa-search link-action btnView" data-toggle="modal" data-target="#ShowQuizModal" data-proid="@rows.ProposID"> รายละเอียด </span>
                                <span title="ลบ" class="fa  fa-times link-action btnDelete" id="btnDelete" data-proposiid="@rows.ProposID" data-proposiname="@rows.ProposName"> ลบ</span>
                            </span>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>
<!--form view detail-->
<form id="formProposdetail">
    <div id="ShowQuizModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">รายละเอียดข้อสอบ<label id="titlev" name="titlev"></label></h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="panel panel-default col-md-3">
                            <div class="panel-body">
                                <div class="form-group">
                                    <input type="hidden" class="form-control" id="isUpdateable" name="isUpdateable" value="1" />
                                    <input type="hidden" class="form-control" id="ProposIDv" name="ProposIDv" value="0" />
                                    <label class="bold">Question : </label>
                                    <label id="ProposNamev" name="ProposNamev"></label>
                                </div>
                                <div class="form-group">
                                    <label id="smainv" class="bold">Marked out of:</label>
                                    <label id="ScoreMainv" name="ScoreMainv"></label>
                                </div>
                                <div class="form-group">
                                    <label id="Userv" class="bold"></label>
                                    <label id="Nameuv" name="Nameuv"></label>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default col-md-9">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="bold"></label>
                                    <label id="TextProposv" name="TextProposv"></label>
                                </div>
                                <div class="form-group">
                                    <label class="bold">Select one or more : </label>
                                </div>
                                <div class="form-group">
                                    <label class="bold" id="radiochoice1"><input type="radio" name="gender"> 1. </label>
                                    <label class="bold" id="checkchoice1"><input name="check1" type="checkbox" id="check1" /> 1. </label>
                                    <label id="Choice1v" name="Choice1v"></label>
                                </div>
                                <div class="form-group">
                                    <label class="bold" id="radiochoice2"><input type="radio" name="gender"> 2. </label>
                                    <label class="bold" id="checkchoice2"><input name="check2" type="checkbox" id="check2" /> 2. </label>
                                    <label id="Choice2v" name="Choice2v"></label>
                                </div>
                                <div class="form-group">
                                    <label class="bold" id="radiochoice3"><input type="radio" name="gender"> 3. </label>
                                    <label class="bold" id="checkchoice3"><input name="check3" type="checkbox" id="check3" /> 3. </label>
                                    <label id="Choice3v" name="Choice3v"></label>
                                </div>
                                <div class="form-group">
                                    <label class="bold" id="radiochoice4"><input type="radio" name="gender"> 4. </label>
                                    <label class="bold" id="checkchoice4"><input name="check4" type="checkbox" id="check4" /> 4. </label>
                                    <label id="Choice4v" name="Choice4v"></label>
                                </div>
                                <div class="form-group">
                                    <label class="bold" id="radiochoice5"><input type="radio" name="gender"> 5. </label>
                                    <label class="bold" id="checkchoice5"><input name="check5" type="checkbox" id="check5" /> 5. </label>
                                    <label id="Choice5v" name="Choice5v"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnClose" class="btn btn-danger" data-dismiss="modal" title="ปิดการแสดงรายอะเอียดข้อสอบ">ปิด</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.inputmask.bundle.js"></script>
    <script src="~/Scripts/jquery.inputmask.bundle.min.js"></script>
    <script type="text/javascript" src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
    <script type="text/javascript" src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/plugins/tiny_mce_wiris/wirisplugin-generic.js"></script>
    <script src="~/Scripts/tinymce/plugins/tiny_mce_wiris/core/display.js"></script>
    <script type="text/javascript">
    var str = $('#explan').data("explantion");
    $('#explan').html(str);

    //show table for option:selected
    $("#tshowCate").find('.Row').hide(); //เปิดมายังไม่ให้โชว์อะไร
    $('select.showCate').bind('change', function () {
    $('select.showCate').attr('disabled', 'disabled');
    $("#tshowCate").find('.Row').hide();
    var cAttribute = '';
    $('select.showCate').each(function () {
    console.log($(this).data('cate'));
    if ($(this).val() != '0') {
    cAttribute += '[data-' + $(this).data('cate') + '="' + $(this).val() + '"]';
    }
    });
    $('#tshowCate').find('.Row' + cAttribute).show();
    $('select.showCate').removeAttr('disabled');
    $(':checkbox').each(function () { $(this).removeAttr('checked'); });
    });

    @* btnAddQuiz1 *@
    $('#btnAddQuiz1').click(function () {
    $('select.showCate').val('0');
    $("#tshowCate").find('.Row').hide();
        $(':checkbox').each(function () { $(this).removeAttr('checked'); });

    });

    @* Button Save OR Select Quiz*@
    $('#btnSave').click(function () {
    var c = [];
    $(':checkbox').each(function () {
    if ($(this).is(':checked')) {
    c.push($(this).val());
    }
    });
        var Data1 = { ExamBodyID:@ViewBag.DataExambodyID, ProposID: c };
        //alert(Data1.ProposID);
        $.ajax({
            type: "POST",
            cache: false,
            url: "AddQuiz",
            dataType: "json",
            data: Data1,
            traditional: true,
            beforeSend: function () {

            },

            success: function (res) {
                var status = false;
                var message = 'ดำเนินการไม่สำเร็จ';
                if (res != null && res != undefined) {
                    status = res.status;
                    message = res.message != '' ? res.message : message;
                }
                if (status == false) {
                    swal("เกิดข้อผิดพลาด", message, "error");
                }  else {
                    swal({
                        title: message,
                        type: "success",
                        showConfirmButton: false,
                        timer: 1000,
                        closeOnConfirm: false
                    },
                        function () {
                            location.reload(true);
                        });
                }
            },
            error: function (xhr, ajaxOption, thrownError) {
                swal("เกิดข้อผิดพลาด", message, "error");
            },
            complete: function () {

            }
        });
    });

        @* Button Delete *@
        $('.btnDelete').click(function () {
            var id = $(this).data("proposiid");
            var gname = $(this).data("proposiname");
            //alert(id);
            swal({
                title: "ต้องการลบข้อสอบ : " + gname + " ?",
                text: "ข้อสอบที่ลบจะสามารถเพิ่มเข้าใหม่ได้ !",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "ใช่ ต้องการลบ",
                cancelButtonText: "ยกเลิก !",
                closeOnConfirm: true,
                colseOnCancel: true
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            type: "POST",
                            cache: false,
                            url: "DeleteQuiz",
                            dataType: "json",
                            data: { id: id },
                            traditional: true,
                            beforeSend: function () {
                            },
                            success: function (res) {

                                var status = false;
                                var message = 'ดำเนินการไม่สำเร็จ';
                                if (res != null && res != undefined) {
                                    status = res.status;
                                    message = res.message != '' ? res.message : message;
                                }
                                if (status == false) {
                                    swal("เกิดข้อผิดพลาด", message, "error");
                                } else {
                                    swal({
                                        title: "ลบข้อสอบสำเร็จ",
                                        type: "success",
                                        showConfirmButton: false,
                                        timer: 1000,
                                        closeOnConfirm: false
                                    },
                                        function () {
                                            location.reload(true);
                                        });
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                swal("เกิดข้อผิดพลาด", message, "error");
                            },
                            complete: function () {

                            },
                        });
                    }
                }


            );

        });
         //View Propos by id
        $('.btnView').click(function () {
            var idp = $(this).data("proid");
            //alert(idp);
            //tinyMCE.activeEditor.setContent('');  //clear text in tinyeditor
            $.ajax({
                type: "POST", // method ที่จะส่ง
                cache: false,
                url: "ViewPropos",  // ส่งไปให้ที่ได้ ระบุ
                dataType: "json", // ชนิดข้อมูลที่ส่ง
                data: { idp: idp},//$('#formSubject').serialize(), // ข้อมูลที่ส่ง
                traditional: true, // การจดจำข้อมูล
                beforeSend: function () { // ก่องส่ง data จะให้ทำไร

                },
                success: function (res) {
                    var status = false;
                    var message = 'ดำเนินการไม่สำเร็จ';
                    if (res != null && res != undefined) {
                        status = res.status;
                        message = res.message != '' ? res.message : message;
                    }
                    if (status == false) {
                        swal("เกิดข้อผิดพลาด", message, "error");

                    } else {
                        $("#ProposIDv").text(res.data.ProposID);
                        $("#ProposNamev").text(res.data.ProposName);
                        $("#TextProposv").html(res.data.TextPropos);
                        $("#ScoreMainv").text(res.data.ScoreMain);
                        $("#Choice1v").html(res.data.Choice1);
                        if ((res.data.Choice1) != null) {
                        } else {
                            $("#radiochoice1").html("");
                            $("#checkchoice1").html("");
                        }
                        $("#Choice2v").html(res.data.Choice2);
                        if ((res.data.Choice2) != null) {
                        } else {
                            $("#radiochoice2").html("");
                            $("#checkchoice2").html("");
                        }
                        $("#Choice3v").html(res.data.Choice3);
                        if ((res.data.Choice3) != null) {
                        } else {
                            $("#radiochoice3").html("");
                            $("#checkchoice3").html("");
                        }
                        $("#Choice4v").html(res.data.Choice4);
                        if ((res.data.Choice4) != null) {
                        } else {
                            $("#radiochoice4").html("");
                            $("#checkchoice4").html("");
                        }
                        $("#Choice5v").html(res.data.Choice5);
                        if ((res.data.Choice5) != null) {
                        } else {
                            $("#radiochoice5").html("");
                            $("#checkchoice5").html("");
                        }
                        if ((res.data.CheckChoice) == '2') {
                            $("#radiochoice1").html("");
                            $("#radiochoice2").html("");
                            $("#radiochoice3").html("");
                            $("#radiochoice4").html("");
                            $("#radiochoice5").html("");
                        } else {
                            $("#checkchoice1").html("");
                            $("#checkchoice2").html("");
                            $("#checkchoice3").html("");
                            $("#checkchoice4").html("");
                            $("#checkchoice5").html("");
                        }
                        $("#proposdetailModal").modal("show");
                        $("#formPropos").find('.form-group').removeClass('has-error');
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    swal("เกิดข้อผิดพลาด", message, "error");
                },
                complete: function () {

                },
            });
        });
    </script>
}
