@using Exam_Objective.Models
@using System.Collections.Generic
@{
    ViewBag.Title = "ScoreStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var dataExamtopics = (List<ExamTopicModel>)ViewBag.DataExamtopic;
    var DataScore = (List<ScoreStudent>)ViewBag.dataScore;
}
<div class="paddind-lr-30">
    <br />
    <h4>ผลคะแนนการสอบวิชา @ViewBag.dataSubject @dataExamtopics[0].ExamtopicName </h4>
    <h4>กลุ่มเรียน @ViewBag.dataGroup</h4>
    <hr />
    <p class="text-left">
        <button type="button" class="btn btn-default" onclick="window.history.back()"><span class="fa fa-reply"></span> ย้อนกลับ</button>
    </p><br />
    @{
        if (DataScore.Count > 0 && DataScore != null)
        {
            <table class="table table-striped table-bordered text-center">
                <thead>
                    <tr>
                        <th class="text-center">รหัส</th>
                        <th class="text-center">ชื่อ-สกุล</th>
                        <th class="text-center">จำนวนข้อ</th>
                        <th class="text-center">จำนวนข้อถูก</th>
                        <th class="text-center">คะแนนเปอร์เซ็น</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var rows in DataScore)
                        {
                            var score = string.Format("{0:0.00}", rows.Score);
                            var scoreper = string.Format("{0:0.00}", rows.Scoreper);
                            <tr>
                                <td>Null</td>
                                <td>@rows.Fname @rows.Lname</td>
                                <td>@rows.countQuiz</td>
                                <td>@score</td>
                                <td>@scoreper</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <a id="2Excel" class="btn btn-default" href="@Url.Action("ExportScore", "Testing", new { etid = ViewBag.etid, subid = ViewBag.subid, g = ViewBag.groupid })" title="กดเพื่อ Export เป็น Excel" target="_blank" download><span class="fa fa-file-excel-o"></span> Export to Excel</a>
            <a id="2Text" class="btn btn-default" href="@Url.Action("ExportForAnalyze", "Testing", new { etid = ViewBag.etid, subid = ViewBag.subid, fileExtension = "txt"})" title="กดเพื่อ Export เป็น Text" target="_blank" download><span class="fa fa-file-text-o"></span> Export to Text</a>
            <a id="2dat" class="btn btn-default" href="@Url.Action("ExportForAnalyze", "Testing", new { etid = ViewBag.etid, subid = ViewBag.subid, fileExtension = "dat"})" title="กดเพื่อ Export เป็น Text" target="_blank" download><span class="fa fa-file-text-o"></span> Export to DAT</a>
            <a id="2CSV" class="btn btn-default" href="@Url.Action("ExportForAnalyze", "Testing", new { etid = ViewBag.etid, subid = ViewBag.subid, fileExtension = "csv"})" title="กดเพื่อ Export เป็น CSV" target="_blank" download><span class="fa fa-file-text-o"></span> Export to CSV</a>
            <a id="2excel" class="btn btn-default" href="@Url.Action("ExportForAnalyze", "Testing", new { etid = ViewBag.etid, subid = ViewBag.subid, fileExtension = "xlsx"})" title="กดเพื่อ Export เป็น Excel" target="_blank" download><span class="fa fa-file-text-o"></span> Export to Excel</a>
        }
        else
        {
            <p style="color:#ff0000">ยังไม่มีการสอบ</p>
        }
    }
</div>

@section scripts{}