@using Exam_Objective.Models
@{
    var user = Session["User"] as UserSystemModel;
    if (user != null)
    {

    }
    else
    {
        <script>
            alert("กรุณาทำการ Login เพื่อเข้าสู่ระบบ !");
            window.location.href = '@Url.Action("Login","Login")';
        </script>
    }
    var a = "";
}
<div class="menu">

    <div class="menu-header text-left"><div class="border1" style="padding-top:5px;"><span class="" style="padding-left:28px;"></span> @Html.ActionLink(" หน้าหลัก", "Index", "Home", null, new { @class = "fa fa-home noneline-child" })<span></span></div></div>
    <p class="show-chevron-rightdown text-left collapsed menu-child" data-toggle="collapse" data-target="#demo30" style=""><span class="fa fa-list" style="padding-left:0px;"></span> รายวิชา</p>
    <div id="demo30" class="collapse menu-grandchild">
        <span style="padding-left:60px;">@Html.ActionLink(" รายวิชาทั้งหมด", "Subjects", "Subjects", null, new { @class = "fa fa-tasks noneline-grandchild" })</span>
        <span style="padding-left:60px;">@Html.ActionLink(" ระบบจัดการวิชา", "Msubjects", "Subjects", null, new { @class = "fa fa-cogs noneline-grandchild" })</span>
        
        @{
            var SubjectEntity = (List<SubjectsModel>)ViewBag.Subject;
            if (SubjectEntity != null)
            {
                foreach (var rows in SubjectEntity)
                {
                    if (rows.UserID == user.UserID)
                    {
                        <a href="@Url.Action("CreateLesson_Obj", "ExamBank", new { SubjecID = rows.SubjectID })" class="nav-link ">
                            <!-- target="_blank" //สำหรับเปิดแล้วขึ้นหน้าใหม่-->
                            <span style="padding-left:60px;" class="fa fa-tags"> @rows.SubjectName </span><br />
                        </a>
                    }
                }
            }
            var SubjectsShareEntity = (List<SubjectsModel>)ViewBag.SubjectShare;
            if (SubjectsShareEntity != null)
            {
                foreach (var rows in SubjectsShareEntity)
                {

                    <a href="@Url.Action("CreateLesson_Obj", "ExamBank", new { SubjecID = rows.SubjectID })" class="nav-link ">
                        <!-- target="_blank" //สำหรับเปิดแล้วขึ้นหน้าใหม่-->
                        <span style="padding-left:60px;" class="fa fa-tags"> @rows.SubjectName </span><br />
                    </a>

                }
            }
        }
        
</div>

    <p class="show-chevron-rightdown text-left collapsed menu-child" data-toggle="collapse" data-target="#demo31" style=""><span class="fa fa-database" style="padding-left:0px;"></span> คลังข้อสอบ</p>
    <div id="demo31" class="collapse menu-grandchild">
        <span style="padding-left:60px;">@Html.ActionLink(" ข้อสอบ", "Propos", "ExamBank", null, new { @class = "fa fa-file noneline-grandchild" })</span> <br />
        <span style="padding-left:60px;">@Html.ActionLink(" นำเข้า", "Tests", "Home", null, new { @class = "fa fa-file noneline-grandchild" })</span> <br />
        <span style="padding-left:60px;">@Html.ActionLink(" ส่งออก", "Tests", "Home", null, new { @class = "fa fa-file noneline-grandchild" })</span>
    </div>

    <p class="show-chevron-rightdown text-left collapsed menu-child" data-toggle="collapse" data-target="#demo32"><span class="fa fa-book" style="padding-left:0px;"></span> แบบทดสอบ</p>
    <div id="demo32" class="collapse menu-grandchild">
        <span style="padding-left:60px;">@Html.ActionLink(" จัดการแบบทดสอบ", "Index", "Testing", null, new { @class = "fa fa-plus-square noneline-grandchild" })</span>
    </div>

    <p class="show-chevron-rightdown text-left collapsed menu-child" data-toggle="collapse" data-target="#demo34"><span class="fa  fa-users " style="padding-left:0px;"></span> สมาชิก</p>
    <div id="demo34" class="collapse menu-grandchild">
<<<<<<< HEAD
        <span style="padding-left:60px;">@Html.ActionLink(" เพิ่มกลุ่มเรียน", "Index", "Group", null, new { @class = "fa fa-plus-square noneline-grandchild" })</span>
        <span style="padding-left:60px;">@Html.ActionLink(" เพิ่มกลุ่มผู้เชี่ยวชาญ", "indexGroup", "IOC", null, new { @class = "fa fa-plus-square noneline-grandchild" })</span>
=======
        <span style="padding-left:60px;">@Html.ActionLink(" จัดการกลุ่มเรียน", "Index", "Group", null, new { @class = "fa fa-plus-square noneline-grandchild" })</span>
>>>>>>> 7be6be114996578c2a51aab4ccb3baf8808ffa58
    </div>

    <p class="show-chevron-rightdown text-left collapsed menu-child" data-toggle="collapse" data-target="#demo33"><span class="fa fa-line-chart " style="padding-left:0px;"></span> การวิเคราะห์</p>
    <div id="demo33" class="collapse menu-grandchild">
        <span style="padding-left:60px;">@Html.ActionLink(" เพิ่มเนื้อหาเกี่ยวกับข้อสอบ", "index", "Contents", null, new { @class = "fa fa-plus-square noneline-grandchild" })</span>
        <span style="padding-left:60px;">@Html.ActionLink(" การวิเคราะห์", "Analysis", "Analysis", null, new { @class = "fa fa-line-chart noneline-grandchild" })</span>
    </div>

</div>