@using Exam_Objective.Models
@using System.Collections.Generic
@{
    ViewBag.Title = "ViewScore";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}
@{ 
    var dataExamtopics = (List<ExamTopicModel>)ViewBag.DataExamtopic;
    var DataScore = (List<ScoreStudent>)ViewBag.dataScore;
}
<div class="paddind-lr-30"><br />
    <h4>ผลคะแนนการสอบวิชา @ViewBag.dataSubject @dataExamtopics[0].ExamtopicName กลุ่มเรียน: @ViewBag.dataGroup</h4>
     <hr /><br />
    <table class="table table-striped table-bordered text-center">
        <thead>
            <tr>
                <th class="text-center">จำนวนข้อ</th>
                <th class="text-center">จำนวนข้อถูก</th>
                <th class="text-center">คะแนนเปอร์เซ็น</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><h3>@DataScore[0].countQuiz</h3></td>
                <td><h3>@DataScore[0].Score</h3></td>
                <td><h3>@DataScore[0].Scoreper</h3></td>
            </tr>
        </tbody>
        </table>
</div>
@section scripts{}
