@using Exam_Objective.Models
@using System.Collections.Generic

@{
    var dataExamtopics = (List<ExamTopicModel>)ViewBag.DataExamtopic;
    var DataPropos = (List<PropositionModel>)ViewBag.dataProposition;
    var DataChoice = (List<ChoiceModel>)ViewBag.dataChoice;
}
@{
    ViewBag.Title = "ViewTestings";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<div class="paddind-lr-30" id="scollviewQ">
    <h3>วิชา @ViewBag.dataSubject @dataExamtopics[0].ExamtopicName กลุ่มเรียน: @ViewBag.dataGroup</h3>

    @{ for (var x = 1; x <= DataPropos.Count; x++)
        {
            <div>
                <div class="col-md-2" style="margin-bottom:8px ;padding:1px"><div style="border:solid 1px #808080;border-radius:3px;padding:4px"><span style="font-size:20px">Question  @x</span></div></div>
                <div class="col-md-10" style="margin-bottom:8px; padding:1px">
                    <div style="border:solid 1px #adfacd;border-radius:3px;padding:4px;background-color:#e0fced">
                        <span class="quizion" id="@DataPropos[x - 1].ProposID">@Html.Raw(DataPropos[x - 1].TextPropos)</span>
                        @{ var i = 0;
                            foreach (var rows in DataChoice)
                            {
                                if (rows.ProposID == DataPropos[x - 1].ProposID)
                                {
                                    i++;
                                    <div class="choice">
                                        <input type="radio" value="@rows.ChoiceID" name="@DataPropos[x - 1].ProposID" /> @i<span>.</span>
                                        <span id="in-line"> @Html.Raw(rows.TextChoice)</span>
                                    </div>
                                }
                            }
                            i = 0;
                        }
                    </div>
                </div>
            </div>
        }
    }

    <div style="margin:30px">
        .
    </div>


</div>
@section scripts{
    <script type="text/javascript">

        var datein = $('#datein').data("dates");
        var i = [];
        i = datein.split(' ');
        datein = i[0].split('/');
        //alert(datein);
        var DateBegin = {
            dateBegin: datein[0],
            monthBegin: datein[1],
            yearBegin: datein[2]
        };

        var TimeBegin = $('#datein1').data("dates");

        var TimeEnd = $('#datein2').data("dates");

        var countDownDate = new Date(DateBegin.monthBegin + " " + DateBegin.dateBegin + ", " + DateBegin.yearBegin + " " + TimeEnd).getTime();
        var d = new Date();
        if (d.getDate() == DateBegin.dateBegin && (d.getMonth() + 1) == DateBegin.monthBegin && d.getFullYear() == DateBegin.yearBegin) {
            // Update the count down every 1 second
            var x = setInterval(function () {

                // Get todays date and time
                var now = new Date().getTime();

                // Find the distance between now an the count down date
                var distance = countDownDate - now;

                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                // If the count down is over, write some text
                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("timeEnd").innerHTML = TimeBegin + "-" + TimeEnd + " น.";
                    document.getElementById("demo").innerHTML = "หมดเวลาทำแบบทดสอบ";
                }
                else {
                    document.getElementById("timeEnd").innerHTML = TimeBegin + "-" + TimeEnd + " น.";
                    // Output the result in an element with id="demo"
                    document.getElementById("demo").innerHTML = hours + " ชั่วโมง " + minutes + " นาที " + seconds + " วินาที ";
                }
            }, 1000);
        } else if (d.getDate() >= DateBegin.dateBegin && (d.getMonth() + 1) >= DateBegin.monthBegin && d.getFullYear() >= DateBegin.yearBegin) {
            document.getElementById("timeEnd").innerHTML = TimeBegin + "-" + TimeEnd + " น.";
            document.getElementById("demo").innerHTML = "หมดเวลาทำแบบทดสอบ";
        }
        else {
            document.getElementById("timeEnd").innerHTML = TimeBegin + "-" + TimeEnd + " น.";
            document.getElementById("demo").innerHTML = "ยังไม่ถึงเวลาทำแบบทดสอบ";
        }
        function GotoQ(n) {
            $('html,body').animate({ scrollTop: $('span#' + n).offset().top -60}, 500);
        }
    </script>
}
