@using Exam_Objective.Models
@using System.Text.RegularExpressions;
@{
    //ViewBag.Title = "ExportMain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel-heading">
    @{var SubjectsEntity = (List<SubjectsModel>)ViewBag.Subject;

        foreach (var rows in SubjectsEntity)
        {
            <h3><span class="icon icon-logout"> ส่งออกข้อสอบ / วิชา </span>@rows.SubjectName</h3>
        }
    }
    @{var SubjectShareEntity = (List<SubjectsModel>)ViewBag.SubjectShare;

        foreach (var rows in SubjectShareEntity)
        {
            <h3><span class="icon icon-login"> ส่งออกข้อสอบ / วิชา </span>@rows.SubjectName</h3>
        }
    }
</div>
<div class="panel panel-info">

    <div class="panel-heading">
        จำนวนข้อสอบแต่ละจุดประสงค์
    </div>
    <div class="panel-body">
        <div class="panel-body">
            @{
                var oEntity = (List<ObjectiveModel>)ViewBag.PObjective;
                var ctCountap = (List<ObjectiveModel>)ViewBag.ObjectiveNotDis;
                if (oEntity.Count > 0 && oEntity != null)
                {

                    foreach (var rows in oEntity)
                    {
                        <li>
                            @rows.ObjName
                            @foreach (var r2 in ctCountap)
                            {
                                if (rows.ObjID == r2.ObjID)
                                {
                                     <a>(</a>@r2.CountProposID<a>)</a>
                                }
                            }
                        </li>
                    }
                }
            }
        </div>
    </div>
</div>
<button id="btnreport" name="btnreport" class="btn btn-success" data-toggle="modal" data-target="#reportModalXML"><span class="fa  fa-file-archive-o"></span> XML Format</button>
<button id="btnreport" name="btnreport" class="btn btn-danger" data-toggle="modal" data-target="#reportModalGIFT"><span class="fa  fa-file-archive-o"></span> GIFT Format</button>
<div class="modal fade" id="reportModalXML" tabindex="-1" role="dialog" aria-labelledby="User" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title"><label id="title" name="title"></label><label>เลือกจุดประสงค์เพื่อส่งออกข้อสอบ (XML Format)</label></h5>
            </div>
            <div class="panel-body">
                <div class="panel-body">
                    @{
                        var o2Entitycon = (List<ObjectiveModel>)ViewBag.PObjective;

                        if (o2Entitycon.Count > 0 && o2Entitycon != null)
                        {
                            foreach (var rows in o2Entitycon)
                            {

                                <a href="@Url.Action("ExportFile", "ExamBank", new { ObjID = @rows.ObjID })" class="nav-link" data-objective="@rows.ObjID" title="คลิ๊กเพื่อส่งออกข้อสอบตามจุดประสงค์">
                                    <!-- target="_blank" //สำหรับเปิดแล้วขึ้นหน้าใหม่-->
                                    <span style="padding-left:60px;" class="icon-cloud-download"> @rows.ObjName </span><br />
                                </a>

                            }

                        }
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="reportModalGIFT" tabindex="-1" role="dialog" aria-labelledby="User" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title"><label id="title" name="title"></label><label>เลือกจุดประสงค์เพื่อส่งออกข้อสอบ (GIFT Format)</label></h5>
            </div>
            <div class="panel-body">
                <div class="panel-body">
                    @{
                        var o2Entitycon2 = (List<ObjectiveModel>)ViewBag.PObjective;

                        if (o2Entitycon2.Count > 0 && o2Entitycon2 != null)
                        {
                            foreach (var rows in o2Entitycon2)
                            {

                                <a href="@Url.Action("ExportFileGift", "ExamBank", new { ObjID = @rows.ObjID })" class="nav-link" data-objective="@rows.ObjID" title="คลิ๊กเพื่อส่งออกข้อสอบตามจุดประสงค์">
                                    <!-- target="_blank" //สำหรับเปิดแล้วขึ้นหน้าใหม่-->
                                    <span style="padding-left:60px;" class="icon-cloud-download"> @rows.ObjName </span><br />
                                </a>

                            }

                        }
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

}
